@model QuizProject.ViewModels.AskedQuestionViewModel

<h2>@Model.QuestionText</h2>

<form asp-action="SubmitAnswer" method="post">
	<input type="hidden" name="questionId" value="@Model.QuestionId" />
	<div>
		<label><input type="radio" name="selectedAnswer" value="@Model.Answer1" /> @Model.Answer1</label>
		<label><input type="radio" name="selectedAnswer" value="@Model.Answer2" /> @Model.Answer2</label>
		<label><input type="radio" name="selectedAnswer" value="@Model.Answer3" /> @Model.Answer3</label>
		<label><input type="radio" name="selectedAnswer" value="@Model.Answer4" /> @Model.Answer4</label>
	</div>
	<button type="submit">Submit answer</button>
</form>

